body{
    background-color:  #FF9191;
    font-family: Arial, Helvetica, sans-serif;
}

input:focus{
    outline:none;
}

.controls{
    width: 55px;
    margin: 0px auto;
}

.container{
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 10%;
}

#time-form{
    font-size: 28px;
    width:0px;
}

#begin{
    padding-right: 2px;
}

.timer-input{
    width: 201px;
    padding: 0px 10px;
}

.timer-input input{
    color:white;
    font-size: 28px;
    border: 1px none;
    background: none;
    width: 31px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-right: 2px;
    float:left;
    font-weight: bold;
}

.timer-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.timer-container{
    height: 176px;
    position: relative;
}

.tomato{
    height: 176px;
    width: 200px;
    position: absolute;
    background-size: 200px;
    background-repeat: no-repeat;
    background-origin: padding-box;

}

.outline{
    background-image: url("tomatoOutline.svg");
    z-index: 3;
}

.fill{
    background-image: url("tomatoFill.svg");
    z-index: 1;
}


.cover{
    height: 0px;
    background-color: #FF9191;
    z-index: 2;
}

h1{
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -100px;
    color: white;
    font-size: 40px;
}

p{
    position: absolute;
    left: 50%;
    top: 55%;
    margin-left: -130px;
}

a{
    color: white;
    font-size: 14px;
}

h3{
    position: absolute;
    left: 45px;
    top: 75px;
    color: white;
    z-index: 4;
    width: 115px;
}

h4{
    color: white;
    margin:0px;
    padding-right: 10px;
    float: left;
    font-size: 20px;
    padding-top: 8px;
}

.button-group{
    position: absolute;
    left: 50%;
    margin-left:-60px;
    top: 65%;
}


.start-button:hover{
    background-color: #ff6f6f;
}

.games-button:hover{
    background-color: #ff8324;
}


.start-button{
    width: 120px;
    border: 2px black solid;
    background: none;
    padding: 10px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    background-color: #ff5656;
    cursor:pointer;
    outline: none;
}


.games-button{
    width: 120px;
    border: 2px black solid;
    background: none;
    padding: 10px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    background-color: #ff6f00;
    outline: none;
    cursor:pointer
}

#games-list {
    display: none;
}

