body{
    background-color:  #FF9191;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

h1{
    color:black;
    font-weight: bold;
    text-align: center;
}

label{
    color:black;
    font-size: 24px;
    font-weight: bold;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}


.settings-icon{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    margin-top: 15px;
    width: 50px;
    z-index: 3;
    transition: transform .5s ease-in-out;
    transform: rotate(0deg)
}

.settings-panel{
    position: absolute;
    justify-content: center;
    z-index: 3;
    top: 0px;
    left: -410px;
    margin: 10px;
    margin-top: 15px;
    padding: 20px;
    width: 400px;
    height: 95%;
    background-color: #e06666;
    border-radius: 20px;
    overflow-y: scroll;
}

p{
    color:black;
    text-align: center;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: black;
}


.button-container{
    position:absolute;
    width: 130px;
    left: 50%;
    margin-left: -65px;
}


.done-buttons{
    position:absolute;
    width: 145px;
    left: 50%;
    top:50%;
    margin-left: -70px;
    margin-top: 50px;
}

.main-button{
    border: 2px solid black;
    border-radius: 20px;
    width: 115px;
    color: black;
    padding: 5px;
    margin: 10px;
    outline:none;
   
}

.done-button{
    border: 2px solid black;
    border-radius: 20px;
    width: 110px;
    color: black;
    padding: 5px;
    margin: 10px;
    outline:none;
    background-color: #ff6f00;
    box-shadow: 0 7px black;
    font-size: 16px;
    position: absolute;
    left: 50%;
    margin-left: -70px;
}

.done-button:active{
    outline:none;
    transform: translateY(4px);
    box-shadow: 0 3px;
}

.start{
    background-color: #ff5656;
    box-shadow: 0 7px black;
    margin-bottom: 20px;
}

.select-game{
    background-color: #ff6f00;
    box-shadow: 0 7px black;
}

.main-button:active{
    outline:none;
    transform: translateY(4px);
    box-shadow: 0 3px;
}

.center{
    position: absolute;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}

.top-left{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    margin: 20px;
}

.top-right{
    position: absolute;
    left: 100%;
    width: 250px;
    margin: 20px;
    margin-left: -270px;
}

.logo{
    width: 300px;
    margin-top: 10px;
}

.large{
    width: 400px;
    height: 400px;
    position: relative
}

.med{
    width: 300px;
    height: 313px;
    position: relative;
}

.small{
    width: 70px;
    height: 62px;
    position: relative;
}

.wide{
    width: 250px;
    height: 44px;
    position: relative;
    display: inline-block;
}

.fill{
    position: absolute;
    z-index: -3;
    display: inline;
}

.cover{
    position: absolute;
    z-index: -3;
    display: inline;
    background-color: #FF9191;
    height: 0%;
}

.outline{
    position: absolute;
    z-index: -1;
    display: inline;
}

.countdown-mid{
    position:absolute;
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 55%;
    width: 100%;
    height: 100%;
}

.countdown-left{
    display: inline;
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    top: 200px;
}

.buttons-bottom{
    position: absolute;
    bottom:0px;
    height: 20px;
    width: 100%;
    text-align: center;
}

.buttons-right{
    margin-left: 40px;
}

.hidden-input{
    position: relative;
    width: 0px;
    background: none;
    border: none;
    outline:none;
    margin-left: -6px;
    display: inline;
    font-size: 24px;
    color: rgba(0, 0, 0, 0);
    caret-color: black;
    padding-left: 3px;
    bottom: 1px;
}

.tomato-input{
    margin: 10px;
    width: fit-content;
    max-height: 50px;
}

.timer-grid{
    margin-left: -100px;
    width: 520px;
}

.tomato-input:focus-within > .timer-input{
    border: 2px solid black;
}

.shaded > .timer-input{
    background-color: #e06666;
}

.timer-input{
    padding: 5px;
    border-radius: 10px;
    background-color: #FF9191;
    border: 2px black;
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: inline;
}


input:focus{
    outline: none;
}

.hidden-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.about{
    padding-left: 20%;
    padding-right: 20%;
}

.about > p{
    font-size: 18px;
}

hr{
    height:3px;
    border-width:0;
    background-color:tomato
}

footer {
    position: absolute;
    bottom:0px;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: tomato;
    color: black;
}

.row{
    margin-bottom: 20px;
}

.col-sm-3{
    width: 130px;
}

.game-thumbnail{
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 3px black solid;
    background-color:black;
    border-radius: 25px;
    box-shadow: 0 7px black;
}

.game-frame{
    text-align:center;
    margin: 0px auto;
}



.game-grid{
    position:relative;
    left:0px;
    margin-bottom: 50px;
    margin-left: -190px;
    width: 520px;
    height: 260px;
    padding: 10px;
}

.game-list{
    margin: 10px;
    width: fit-content;
}

.game-list > .row{
    margin-left: 20px;
}

.game-label{
    font-size:20px;
}

.checkbox{
    float:right;
    padding-left: 20px;
}