body{
    background-color:  #FF9191;
    font-family: Arial, Helvetica, sans-serif;
}

input:focus{
    outline:none;
}

.controls{
    width: 55px;
    margin: 0px auto;
}

.container{
    position: absolute;
    left: 100px;
    top: 100px;
}

.timer-input{
    border: 1px green solid;
    width: 201px;
    padding: 0px 10px;
}

.timer-input input{
    color:white;
    font-size: 28px;
    border: none;
    background: none;
    width: 32px;
    float:left;
    font-weight: bold;
}

.timer-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.timer-container{
    height: 176px;
    position: relative;
}

.tomato{
    height: 176px;
    width: 200px;
    position: absolute;
    background-size: 200px;
    background-repeat: no-repeat;
    background-origin: padding-box;

}

.outline{
    background-image: url("tomatoOutline.svg");
    z-index: 3;
}

.fill{
    background-image: url("tomatoFill.svg");
    z-index: 1;
}


.cover{
    height: 0px;
    background-color: #FF9191;
    z-index: 2;
}

h3{
    position: absolute;
    left: 45px;
    top: 75px;
    color: white;
    z-index: 4;
    width: 115px;
}

h4{
    color: white;
    margin:0px;
    padding-right: 10px;
    float: left;
    font-size: 20px;
    padding-top: 8px;
}

